<h2>Realm Question #{{eventNumber}}</h2>
<div class="container">
<div class="row">
  <div class="col-xs-8">
<form class="form-inline" action="/{{eventNumber}}/write" id="question" method="post">
    <textarea name="question" class="form-control" placeholder="Ask questions here" rows="3"></textarea>
    <button type="submit" class="btn btn-default">Write</button>
</form>

  </div>
  <div class="col-xs-4" id="currentuser">
    currentUser: {{currentUser}}
  </div>
</div>

  <div class="row" id="topbar">
    <div class="col-xs-2">Author</div>
    <div class="col-xs-8">Question</div>
    <div class="col-xs-1">Votes</div>
    <div class="col-xs-1">Action</div>
  </div>

{{#each questions}}
  {{#if isAnswered}}
    <div id="question{{id}}" class="row question answered">
  {{else}}
    <div id="question{{id}}" class="row question">
  {{/if}}

  <div class="col-xs-2">{{author.id}}</div>
  <div class="col-xs-8">{{question}}</div>
  <div class="col-xs-1">{{voteCount}}</div>
  <div class="col-xs-1">

  <!--span id="vote{{id}}" onclick="voteQuestion(this.parentNode, {{id}}, 'true')" class="glyphicon glyphicon-thumbs-up hover-color"></span-->
  <span id="vote{{id}}" onclick="vote({{id}})" class="glyphicon glyphicon-thumbs-up hover-color"></span>

  {{#each votes}}
    {{#ifCond id ../../currentUser}}
      <script>$('#vote'+{{../id}}).addClass("voted")</script>
    {{/ifCond}}
  {{/each}}
  
  {{#ifCond author.id ../currentUser}}
    <span onclick="edit({{id}})" class="glyphicon glyphicon-pencil hover-color"></span>
    <span onclick="remove({{id}})" class="glyphicon glyphicon-remove hover-color"></span>
  {{/ifCond}}
    </div>
  </div>
{{/each}}
</div>

<script>

function edit(id){
  $('#question'+id).after("<div class='row'> \
  <form method='post'> \
    <div class='col-xs-2'></div> \
    <div class='col-xs-8'> \
    <input type='hidden' name='qid' value="+id+"> \
    <textarea name='question' class='form-control'></textarea> \
    </div> \
    <div class='col-xs-2'> \
      <input type='submit' value='submit'> \
      <input type='button' value='cancel' onclick='$(this).parent().parent().parent().remove()'> \
    </div> \
  </form> \
  </div>");
  $('#question'+id).next().find("textarea").html( $('#question'+id+' .col-xs-8').html() )
}

function remove(id){
  $('#question'+id).after("<div class='row'> \
  <form method='post'> \
    <div class='col-xs-2'></div> \
    <div class='col-xs-8'> \
      <input type='hidden' name='qid' value="+id+"> \
      <h4>Do you really want to delete this question?</h4> \
    </div> \
    <div class='col-xs-2'> \
      <input type='submit' value='yes'> \
      <input type='button' value='no' onclick='$(this).parent().parent().parent().remove()'> \
    </div> \
  </form> \
  </div>");
}

function vote(id) {
  const voteForm = $("<form method='post'> \
  <input type='hidden' name='vid' value="+id+"> \
  <input type='hidden' name='isVote'> \
  </form> \
  </div>")
  if($("#vote"+id).hasClass("voted")){
    voteForm.find("[name=isVote]").attr("value","false");
  }
  else{
    voteForm.find("[name=isVote]").attr("value","true");    
  }
  $('#question'+id).after(voteForm);
  voteForm.submit();
}

</script>
